<html>
    <header>
        <title>frontpage</title>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width,initial-scale=1, shrikn-to-fit=no">
    </header>
    <body>
        <header>
            <div class="header">
                <div class="headerContent">
                    <a href="#"><img class="tankImg1" src="assets/images/tankcartoon.png"></a>
                    <h1 class="title">BuyMeTanks.com</h1>
                </div>
                <div class="menu">
                    <ul>
                        <li class="menuLi"><a href="#" [routerLink]="['/api']">Sistema</a></li>
                        <li class="menuLi"><a href="#">FAQ</a></li>
                        <li class="menuLi"><a href="#">Contatos</a></li>
                        <li class="menuLi"><a href="#">NaoseiMais</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <main class="main">
            <section>
                <div class="intro">
                    <h2>Temos tudo sobre tanques!</h2>
                    <p>Se é autista como eu vai adorar nossos tanques, são uma maravilha da engenharia e mecânica combinados em puro poder bélico!</p>
                    <div class="introIMG">
                        <img class="img" src="assets/images/is2Tank.jpg">
                    </div>
                    <p>Temos uma grande variedade de tanques que foram usados na segunda guerra,
                     Você vera diversos tanques de diversos países que foram usados em diferentes ocasiões
                     Como este IS-2 heavy tank que esta acima desse texto, o IS-2 foi um tanque pesado soviética do final da guerra
                     Era em sua época um dos tanques mais avançados do período!      
                    </p>
                </div>
            </section>
            <section>
                <div>
                    <h3>Aqui temos algumas fotos de tanques:</h3>
                    <div class="PzIV">
                        <img class="img" src="assets/images/PzIV.jpg">
                        <h2>Panzer IV Ausf. J</h2>
                        <p>O tanque médio mais produzido e nem ultilizado pela alemanha, era uma boa balança entre baixo custo,
                        bom motor, dinamica de tripulação e poder de fogo, um ótimo tanque para seu tempo e com bons recordes de sucesso
                        nos campos de batalha do oeste e leste, era essensial para a tatica de blitzkrieg usada do começo até a metade do conflito
                        onde o agressor deve se mover rapido e com força para linhas inimigas, o mesmo teve muito sucesso sendo usado de forma defensiva
                        quando o suprimento de tanques pesados começaram a se perder.
                        </p>
                    </div>
                    <div class="T-34">
                        <img class="img" src="assets/images/T-34.jpg">
                        <h2>T-34/75</h2>
                        <p>O conhecido T-34 foi o tanque mais produzido da guerra, sendo barato e bem efetivo quando usado em grandes quantidades, o tanque Era
                        Muito util para doutrina soviética de movimentação constante, sendo realativamente leve com bom armamento e armadura decente, teoricamente 
                        teria tudo para dorminar os campos de batalhas do leste, porém, a baixa qualidade e terrivel ergonomia da tripulação que tambem era mau treinada,
                        juntamente com a falta de combustivel e munição, fez com que muitos desses tanques fossem abandonados ou destruidos, sendo esse tanque
                        o mais destruido de toda guerra.
                        </p>
                    </div>
                    <div class="Matilda II">
                        <img class="img" src="assets/images/MatildaII.jpg">
                        <h2>Matilda Mark II.</h2>
                        <p>Matilda II foi um tanque usado pelo exercito britânico principalmente nas campanhas da africa e itália, com seu motor de baixa velocidade
                        porem resistênte, esse tanque era usado para cruzar grandes distâncias e fazer reconhecimento, tinha tambem ótima armadura em relação a competição
                        e um canhão que podia fazer um estrago nos tanques mais leves, além de ser pioneiro em qualidade de ergonomia e comunicação entre tripulação.
                        </p>
                    </div>
                    <div class="M10Wolverine">
                        <img class="img" src="assets/images/M10Wolverine.jpg">
                        <h2>M10 Wolverine Tank Destroyer</h2>
                        <p>Este foi o tank destroyer mais bem ultilizado da guerra, tendo um record de poucas baixas e muitos tanques destruidos contra seu grande
                        canhão de 76mm, pouca coisa conseguia sustentar um tiro direto deste tanque, porém, sua mobilidade não era das melhores e a armadura tambem Era
                        em grande parte, mais fina do que se desejaria, além de não ter telhado, deixando o tanque vulneravel a granadas de mão, em suma era um tanque usado
                        para defesa ou campos muito abertos, porém teve um bom uso no oeste europeu.    
                        </p>
                    </div>
                </div>
            </section>
            <section>
                <div class="conclusao">
                    <br>
                    <br>
                    <h1>Em resumo...</h1 >
                    <p>Uau, isso foi muito educativo realmente, agora estou satisfeito com meu conhecimento em tanques para discutir em fórums online!
                    Por favor não discuta em foruns eles vão matar você, é um bando de militaristas que pesam que a alemanha teria vencido a segunda guerra
                    mundial se tivessem feito mais tanques de certo tipo, além de serem idiotas e discutir veiculos blidados de 80 anos atras não mudar nada
                    em nossa sociedade.
                    </p>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="footerContent">
                <a href="#"><img class="tankImg2" src="assets/images/tankcartoon.png"></a>
                <h3 class="title">BuyMeTanks.com</h3>
            </div>
            <p class="disclaimer">Esse site é apenas para demonstrar "capacidade" não leve nenhuma informação acima a sério</p>
        </footer>
    </body>
</html>